-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: aplikasi_ujian
-- ------------------------------------------------------
-- Server version	11.3.2-MariaDB-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `global_ratings`
--

DROP TABLE IF EXISTS `global_ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `global_ratings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(255) NOT NULL,
  `nilai` tinyint(4) NOT NULL DEFAULT 1,
  `label` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `global_ratings_kode_unique` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `global_ratings`
--

LOCK TABLES `global_ratings` WRITE;
/*!40000 ALTER TABLE `global_ratings` DISABLE KEYS */;
INSERT INTO `global_ratings` VALUES (1,'LULUS',3,'Lulus','Berhasil melakukan sebagian besar langkah dengan benar','2025-12-15 22:23:35','2025-12-16 08:21:09'),(2,'BORDERLINE',2,'Borderline (KKM)','Berada di ambang batas kelulusan','2025-12-15 22:23:35','2025-12-16 08:21:09'),(3,'TIDAK_LULUS',1,'Tidak Lulus','Tidak berhasil melakukan sebagian besar langkah dengan benar','2025-12-15 22:23:35','2025-12-16 08:21:09'),(4,'SUPERIOR',4,'Superior','Berhasil melakukan seluruh langkah dengan sangat baik','2025-12-16 08:21:09','2025-12-16 08:21:09');
/*!40000 ALTER TABLE `global_ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal`
--

DROP TABLE IF EXISTS `jadwal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwal` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `mulai` datetime NOT NULL,
  `selesai` datetime NOT NULL,
  `keterangan` text DEFAULT NULL,
  `tahun_akademik` varchar(9) DEFAULT NULL,
  `semester` enum('ganjil','genap') DEFAULT NULL,
  `is_arsip` tinyint(1) NOT NULL DEFAULT 0,
  `diarsipkan_pada` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal`
--

LOCK TABLES `jadwal` WRITE;
/*!40000 ALTER TABLE `jadwal` DISABLE KEYS */;
INSERT INTO `jadwal` VALUES (1,'OSCE FARMASI TAHUN 2025/2026 GANJIL','2025-12-16 14:03:00','2025-12-16 17:00:00',NULL,'2025/2026','ganjil',0,NULL,'2025-12-16 00:03:18','2025-12-16 09:06:27');
/*!40000 ALTER TABLE `jadwal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_mahasiswa`
--

DROP TABLE IF EXISTS `jadwal_mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwal_mahasiswa` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `jadwal_id` bigint(20) unsigned NOT NULL,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `jadwal_mahasiswa_jadwal_id_mahasiswa_id_unique` (`jadwal_id`,`mahasiswa_id`),
  KEY `jadwal_mahasiswa_jadwal_id_index` (`jadwal_id`),
  KEY `jadwal_mahasiswa_mahasiswa_id_index` (`mahasiswa_id`),
  CONSTRAINT `jadwal_mahasiswa_jadwal_id_foreign` FOREIGN KEY (`jadwal_id`) REFERENCES `jadwal` (`id`) ON DELETE CASCADE,
  CONSTRAINT `jadwal_mahasiswa_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_mahasiswa`
--

LOCK TABLES `jadwal_mahasiswa` WRITE;
/*!40000 ALTER TABLE `jadwal_mahasiswa` DISABLE KEYS */;
INSERT INTO `jadwal_mahasiswa` VALUES (1,1,2,'2025-12-16 00:03:18','2025-12-16 00:03:18'),(2,1,3,'2025-12-16 00:03:18','2025-12-16 00:03:18');
/*!40000 ALTER TABLE `jadwal_mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas`
--

DROP TABLE IF EXISTS `kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kelas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(255) NOT NULL,
  `nama` varchar(255) DEFAULT NULL,
  `tahun_akademik` varchar(9) DEFAULT NULL,
  `semester` enum('ganjil','genap') DEFAULT NULL,
  `is_arsip` tinyint(1) NOT NULL DEFAULT 0,
  `diarsipkan_pada` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kelas_kode_unique` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas`
--

LOCK TABLES `kelas` WRITE;
/*!40000 ALTER TABLE `kelas` DISABLE KEYS */;
INSERT INTO `kelas` VALUES (1,'D3-3A','D3 Farmasi Semester 3 Kelas A',NULL,NULL,0,NULL,'2025-12-15 22:23:35','2025-12-16 00:02:13'),(2,'D3-3B','D3 Farmasi Semester 3 Kelas B',NULL,NULL,0,NULL,'2025-12-15 22:23:35','2025-12-15 22:23:35'),(3,'S1-5A','S1 Farmasi Semester 5 Kelas A',NULL,NULL,0,NULL,'2025-12-15 22:23:35','2025-12-15 22:23:35'),(4,'S1-5B','S1 Farmasi Semester 5 Kelas B',NULL,NULL,0,NULL,'2025-12-15 22:23:35','2025-12-15 22:23:35'),(5,'D3-4A','D3 Farmasi Tingkat 3 Tahun 2025',NULL,NULL,0,NULL,'2025-12-15 22:57:02','2025-12-15 22:57:02');
/*!40000 ALTER TABLE `kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komponen_stasi`
--

DROP TABLE IF EXISTS `komponen_stasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `komponen_stasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `stasi_id` bigint(20) unsigned NOT NULL,
  `nama` varchar(255) NOT NULL,
  `bobot` tinyint(3) unsigned NOT NULL,
  `urutan` smallint(5) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `komponen_stasi_stasi_id_index` (`stasi_id`),
  CONSTRAINT `komponen_stasi_stasi_id_foreign` FOREIGN KEY (`stasi_id`) REFERENCES `stasi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komponen_stasi`
--

LOCK TABLES `komponen_stasi` WRITE;
/*!40000 ALTER TABLE `komponen_stasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `komponen_stasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_penilaian`
--

DROP TABLE IF EXISTS `log_penilaian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_penilaian` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nilai_id` bigint(20) unsigned NOT NULL,
  `penguji_id` bigint(20) unsigned NOT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `log_penilaian_nilai_id_index` (`nilai_id`),
  KEY `log_penilaian_penguji_id_index` (`penguji_id`),
  CONSTRAINT `log_penilaian_nilai_id_foreign` FOREIGN KEY (`nilai_id`) REFERENCES `nilai` (`id`) ON DELETE CASCADE,
  CONSTRAINT `log_penilaian_penguji_id_foreign` FOREIGN KEY (`penguji_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_penilaian`
--

LOCK TABLES `log_penilaian` WRITE;
/*!40000 ALTER TABLE `log_penilaian` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_penilaian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mahasiswa`
--

DROP TABLE IF EXISTS `mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mahasiswa` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nim` varchar(255) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `kelas_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mahasiswa_nim_unique` (`nim`),
  KEY `mahasiswa_kelas_id_index` (`kelas_id`),
  CONSTRAINT `mahasiswa_kelas_id_foreign` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mahasiswa`
--

LOCK TABLES `mahasiswa` WRITE;
/*!40000 ALTER TABLE `mahasiswa` DISABLE KEYS */;
INSERT INTO `mahasiswa` VALUES (2,'123456','Ahmad Farhan',1,'2025-12-15 22:57:41','2025-12-15 22:57:41'),(3,'123457','Siti Aisyah',1,'2025-12-15 22:57:41','2025-12-15 22:57:41');
/*!40000 ALTER TABLE `mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nilai`
--

DROP TABLE IF EXISTS `nilai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nilai` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `jadwal_id` bigint(20) unsigned NOT NULL,
  `stasi_id` bigint(20) unsigned NOT NULL,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `penguji_id` bigint(20) unsigned NOT NULL,
  `global_rating_id` bigint(20) unsigned DEFAULT NULL,
  `total_nilai` decimal(5,2) NOT NULL DEFAULT 0.00,
  `nilai_aktual` decimal(8,2) NOT NULL DEFAULT 0.00,
  `lulus_stasi` tinyint(1) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nilai_unique` (`jadwal_id`,`stasi_id`,`mahasiswa_id`,`penguji_id`),
  KEY `nilai_global_rating_id_foreign` (`global_rating_id`),
  KEY `nilai_jadwal_id_index` (`jadwal_id`),
  KEY `nilai_stasi_id_index` (`stasi_id`),
  KEY `nilai_mahasiswa_id_index` (`mahasiswa_id`),
  KEY `nilai_penguji_id_index` (`penguji_id`),
  CONSTRAINT `nilai_global_rating_id_foreign` FOREIGN KEY (`global_rating_id`) REFERENCES `global_ratings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `nilai_jadwal_id_foreign` FOREIGN KEY (`jadwal_id`) REFERENCES `jadwal` (`id`) ON DELETE CASCADE,
  CONSTRAINT `nilai_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE,
  CONSTRAINT `nilai_penguji_id_foreign` FOREIGN KEY (`penguji_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `nilai_stasi_id_foreign` FOREIGN KEY (`stasi_id`) REFERENCES `stasi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nilai`
--

LOCK TABLES `nilai` WRITE;
/*!40000 ALTER TABLE `nilai` DISABLE KEYS */;
/*!40000 ALTER TABLE `nilai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nilai_acuan_stasi`
--

DROP TABLE IF EXISTS `nilai_acuan_stasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nilai_acuan_stasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `jadwal_id` bigint(20) unsigned NOT NULL,
  `stasi_id` bigint(20) unsigned NOT NULL,
  `nilai_acuan` decimal(8,2) NOT NULL DEFAULT 0.00,
  `intercept` decimal(10,4) DEFAULT NULL,
  `slope` decimal(10,4) DEFAULT NULL,
  `sample_count` int(11) NOT NULL DEFAULT 0,
  `calculated_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nilai_acuan_stasi`
--

LOCK TABLES `nilai_acuan_stasi` WRITE;
/*!40000 ALTER TABLE `nilai_acuan_stasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `nilai_acuan_stasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nilai_detail`
--

DROP TABLE IF EXISTS `nilai_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nilai_detail` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nilai_id` bigint(20) unsigned NOT NULL,
  `komponen_stasi_id` bigint(20) unsigned NOT NULL,
  `skor` decimal(5,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nilai_detail_nilai_id_komponen_stasi_id_unique` (`nilai_id`,`komponen_stasi_id`),
  KEY `nilai_detail_komponen_stasi_id_foreign` (`komponen_stasi_id`),
  KEY `nilai_detail_nilai_id_index` (`nilai_id`),
  CONSTRAINT `nilai_detail_komponen_stasi_id_foreign` FOREIGN KEY (`komponen_stasi_id`) REFERENCES `komponen_stasi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `nilai_detail_nilai_id_foreign` FOREIGN KEY (`nilai_id`) REFERENCES `nilai` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nilai_detail`
--

LOCK TABLES `nilai_detail` WRITE;
/*!40000 ALTER TABLE `nilai_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `nilai_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penguji_stasi`
--

DROP TABLE IF EXISTS `penguji_stasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `penguji_stasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `stasi_id` bigint(20) unsigned NOT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `penguji_stasi_user_id_stasi_id_unique` (`user_id`,`stasi_id`),
  KEY `penguji_stasi_user_id_index` (`user_id`),
  KEY `penguji_stasi_stasi_id_index` (`stasi_id`),
  CONSTRAINT `penguji_stasi_stasi_id_foreign` FOREIGN KEY (`stasi_id`) REFERENCES `stasi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `penguji_stasi_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penguji_stasi`
--

LOCK TABLES `penguji_stasi` WRITE;
/*!40000 ALTER TABLE `penguji_stasi` DISABLE KEYS */;
INSERT INTO `penguji_stasi` VALUES (4,3,4,1,'2025-12-15 22:23:36','2025-12-15 22:23:36'),(5,3,5,1,'2025-12-15 22:23:36','2025-12-15 22:23:36'),(6,3,6,1,'2025-12-15 22:23:36','2025-12-15 22:23:36'),(7,4,1,1,'2025-12-15 23:41:03','2025-12-16 09:20:28'),(10,4,6,1,'2025-12-16 09:20:28','2025-12-16 09:20:28');
/*!40000 ALTER TABLE `penguji_stasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(255) NOT NULL,
  `value` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `settings_key_unique` (`key`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stasi`
--

DROP TABLE IF EXISTS `stasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stasi`
--

LOCK TABLES `stasi` WRITE;
/*!40000 ALTER TABLE `stasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `stasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','penguji') NOT NULL DEFAULT 'penguji',
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Administrator','admin@osce.test',NULL,'$2y$12$06Q4/kquaiXJlMuryotlc.cqTzIwEMJRmA56jErctan9fEwSZOdmi','admin',NULL,'2025-12-15 22:23:35','2025-12-15 22:23:35'),(3,'Penguji Dua','penguji2@osce.test',NULL,'$2y$12$QoyIEdtjW49t/BatC94kmOXdOY8oDyv3qkx0FGvZcHEGLGOOLGA2O','penguji',NULL,'2025-12-15 22:23:35','2025-12-15 22:23:35'),(4,'Tomi','penguji1@osce.test',NULL,'$2y$12$/9A8LZ3aX2KXCjS43/HMg.jVsSDKYW3AmwCurYpz6y5ngJlcG3fpq','penguji',NULL,'2025-12-15 23:41:03','2025-12-16 09:20:28');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-16 16:31:04
